.Card {
  margin: 1rem 1rem;
  background-color: lightgreen;
  border: 2px solid lightgreen;
  border-radius: 15px;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.Card:hover {
  cursor: pointer;
  transform: scale(1.03);
  border-width: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
